@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #a1a1a1;
    --background: #000;
  }
  [class^="Mui"] {
    color: var(--foreground);
    border-color: var(--foreground);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
